<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore>
    <services>
      <configurator type="Alyas.Feature.MarketingCloudConnect.ServiceConfigurators.MarketingCloudConnectServiceConfigurator,Alyas.Feature.MarketingCloudConnect" />
    </services>
    <settings>
      <setting name="MarketingCloudAuthBaseUrl" value="" />
      <setting name="MarketingCloudBaseUrl" value="" />
      <setting name="MarketingCloudClientId" value="" />
      <setting name="MarketingCloudClientSecret" value="" />
    </settings>
  </sitecore>
</configuration>
